/* ESTILOS DE TODAS AS PÁGINAS */

@font-face {
    font-family: "Liberation Mono";
    src: url("/aeca/CSS/LiberationMono-Regular.ttf");
}

@font-face {
    font-family: "Octosquares Regular";
    src: url("/aeca/CSS/OctosquaresRegular.ttf");
}

body {
    max-width: 100%;
    text-align: center;
    font-family: "Liberation Mono";
    color: #ffffff;
    background-color: #060405;
    margin: 5px 15px;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Octosquares Regular";
    color: #8B27AA;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-family: "Octosquares Regular";
    color: #CBF6AF;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

hr {
    border: 1px solid #8B27AA;
}

.button {
    font-family: "Octosquares Regular";
    font-weight: bold;
    color: #cbf6af;
    background-color: #000000;
    font-size: 20px;
    border: 2px solid #cbf6af;
    border-radius: 15px;
    padding: 10px 0;
    width: 14ch;
    cursor: pointer
}

.button:hover {
    color: #9249a5;
    background-color: #cbf6af;
}

img {
    max-width: 90%;
    height: auto;
}

a {
    color: #cbf6af;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: small;
    padding: 5px;
    margin: 5px;
}

.preco {
    font-size: 150%;
    margin: 0;
    padding: 0;
}