/* ESTILOS DE TODAS AS PÁGINAS */

@font-face {
    font-family: "Liberation Mono";
    src: url("/aeca/CSS/LiberationMono-Regular.ttf");
}

@font-face {
    font-family: "Octosquares Regular";
    src: url("/aeca/CSS/OctosquaresRegular.ttf");
}

/* Estilos para dispositivos menores que 768 pixels (mobile) */
@media only screen and (max-width: 768px) {
    img {
        width: 90%;
        height: auto;
    }
    body {
        margin: 5px 15px;
    }
}

/* Estilos para dispositivos maiores que 768 pixels (web) */
@media only screen and (min-width: 769px) {
    img {
        width: 60%;
        height: auto;
    }
    body {
        margin: 5px 25%;
    }
}

body {
    text-align: center;
    font-family: "Liberation Mono";
    color: #ffffff;
    background-color: #060405;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Octosquares Regular";
    color: #8B27AA;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-family: "Octosquares Regular";
    color: #CBF6AF;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

hr {
    border: 1px solid #8B27AA;
}

.button {
    font-family: "Octosquares Regular";
    font-weight: bold;
    color: #cbf6af;
    background-color: #000000;
    font-size: 20px;
    border: 2px solid #cbf6af;
    border-radius: 15px;
    padding: 10px 0;
    width: 14ch;
    cursor: pointer
}

.button:hover {
    color: #8B27AA;
    background-color: #cbf6af;
}

a {
    color: #cbf6af;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: x-small;
    padding: 5px;
    margin: 5px;
}

.footer img {
    height: 22px;
    margin-left: 3px;
    vertical-align: text-bottom;
}

.preco {
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-item {
    text-align: center;
}

.countdown-value {
    font-size: 2rem;
    font-weight: bold;
    background-color: #8B27AA;
    color: #CBF6AF;
    padding: 2px 12px;
    border-radius: 5px;
}

.countdown-label {
    font-size: 0.9rem;
    margin-top: 5px;
}