/* ESTILOS DE TODAS AS PÁGINAS */

/* Estilos para dispositivos menores que 768 pixels (mobile) */
@media only screen and (max-width: 768px) {
    img {
        width: 90%;
        height: auto;
    }
    body {
        margin: 5px 15px;
    }
}

/* Estilos para dispositivos maiores que 768 pixels (web) */
@media only screen and (min-width: 769px) {
    img {
        width: 60%;
        height: auto;
    }
    body {
        margin: 5px 25%;
    }
}

body {
    text-align: center;
    color: #ffffff;
    background-color: #060405;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

hr {
    border: 1px solid #ffffff;
}

a {
    color: #49f9ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: x-small;
    padding: 5px;
    margin: 5px;
}

.footer img {
    height: 22px;
    margin-left: 3px;
    vertical-align: text-bottom;
}