/* ESTILOS DE TODAS AS PÁGINAS */

@font-face {
    font-family: "Liberation Mono";
    src: url("/portfolio/CSS/LiberationMono-Regular.ttf");
}

body {
    font-family: "Liberation Mono";
    color: #ffffff;
    background-color: #000000;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: #8B27AA;
}

h2 {
    color: #AA87A7;
}

h3 {
    color: #CBF6AF;
}


.link {
    color: #00A1D2;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link:hover {
    color: #DAB203;
}

header {
    text-align: center;
    font-size: 150%;
    color: #ffffff;
    position: relative;
    margin: 0;
    padding: 0;
}

.icons {
    text-align: center;
    margin: 0px;
    padding: 0;
}

.icons span {
    display: inline-block;
    margin: 25px 50px;
    font-size: 600%;
}

hr {
    border: 1px solid #8B27AA;
}

.button-link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #8B27AA;
    color: #CBF6AF;
}