/* ESTILOS DE TODAS AS PÁGINAS */

@font-face {
    font-family: "Liberation Mono";
    src: url("/aeca/CSS/LiberationMono-Regular.ttf");
}

@font-face {
    font-family: "Octosquares Regular";
    src: url("/aeca/CSS/OctosquaresRegular.ttf");
}

@font-face {
    font-family: "Square";
    src: url("/aeca/CSS/Square.ttf");
}

body {
    max-width: 100%;
    text-align: center;
    font-family: "Liberation Mono";
    color: #ffffff;
    background-color: #060405;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Square";
    color: #8B27AA;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-family: "Octosquares Regular";
    color: #CBF6AF;
    margin: 0;
    padding: 0;
    font-size: medium;
}

header {
    text-align: center;
    font-size: 200%;
    color: #ffffff;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

hr {
    border: 1px solid #8B27AA;
}

.button1 {
    font-family: "Liberation Mono";
    font-weight: bold;
    color: #9249a5;
    background-color: #cbf6af;
    font-size: 20px;
    border: 2px solid #9249a5;
    border-radius: 15px;
    padding: 10px 0;
    width: 14ch;
    cursor: pointer
}

.button1:hover {
    color: #cbf6af;
    background-color: #9249a5;
}

.button2 {
    font-family: "Octosquares Regular";
    font-weight: bold;
    color: #cbf6af;
    background-color: #1d1d1d;
    font-size: 20px;
    border: 2px solid #cbf6af;
    border-radius: 15px;
    padding: 10px 0;
    width: 14ch;
    cursor: pointer
}

.button2:hover {
    color: #9249a5;
    background-color: #cbf6af;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    text-align: center;
    background-color: #060405;
    margin: 0 auto;
}

tr,
td {
    max-width: 100%;
    border: none;
    text-align: center;
    background-color: #060405;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #cbf6af;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: small;
    padding: 5px;
    margin: 5px;
}

.preco {
    font-size: 150%;
    margin: 0;
    padding: 0;
}