/* ESTILOS DE TODAS AS PÁGINAS */

@font-face {
    font-family: "Liberation Mono";
    src: url("/aeca/CSS/LiberationMono-Regular.ttf");
}
@font-face {
    font-family: "Octosquares Regular";
    src: url("/aeca/CSS/OctosquaresRegular.ttf");
}
@font-face {
    font-family: "Square";
    src: url("/aeca/CSS/Square.ttf");
}

body {
    font-family: "Liberation Mono";
    color: #ffffff;
    background-color: #060405;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-family: "Square";
    color: #8B27AA;
}

h2 {
    font-family: "Octosquares Regular";
    color: #AA87A7;
}

h3 {
    font-family: "Octosquares Regular";
    color: #CBF6AF;
}
header {
    text-align: center;
    font-size: 150%;
    color: #ffffff;
    position: relative;
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid #8B27AA;
}

.button-link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #8B27AA;
    color: #CBF6AF;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    text-align: center;
}

tr, td {
    border: none;
    text-align: center;
    padding: 2px;
}

img {
    max-width: 100%;
    height: auto;
}