/* FONTES */

@font-face {
    font-family: "Liberation Mono";
    src: url("/CSS/fonts/LiberationMono-Regular.ttf");
}

@font-face {
    font-family: "Octosquares Regular";
    src: url("/CSS/fonts/OctosquaresRegular.ttf");
}

/* BASE */

html,
body {
    line-height: 1.2;
    font-family: "Liberation Mono";
    font-weight: normal;
    background: #090909;
    font-size: medium;
    overflow-x: hidden;
}

p {
    color: #EEE;
    text-align: justify;
}

h1 {
    font-family: "Octosquares Regular";
    font-weight: normal;
    font-size: 25px;
    color: #8B27AA;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "Octosquares Regular";
    font-weight: normal;
    font-size: 21px;
    color: #CBF6AF;
    margin: 0;
    text-align: center;
}

a {
    color: #CBF6AF;
    text-decoration: none;
}

b {
    color: #CBF6AF;
}

header {
    background: #000000;
    width: 100%;
    display: inline-block;
    text-align: center;
}

nav {
    padding-top: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;  /* Adicionado */
    padding: 0; /* Adicionado */
    justify-content: center; /* Para centralizar os itens */
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    background: none;
    text-decoration: none;
}

nav ul li a:hover {
    box-shadow: 0 0 20px #8B27AA;
    cursor: pointer;
    transition: 0.3s;
}

nav ul li a img {
    background: #000000;
    padding: 10px;
    font-weight: bold;
    color: #CBF6AF;
    border: 4px outset #8B27AA;
    cursor: pointer;
}

nav ul li a img:hover {
    background: #5f5f5f;
    color: #8B27AA;
    box-shadow: 0 0px 20px #8B27AA;
    transition: 0.3s;
}


#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

#pageContent img {
    width: 100%;
}

#title {
    text-align: center;
    text-indent: 0px;
    font-size: 30px;
    margin: 0;
    font-family: "Octosquares Regular";
    color: #8B27AA;
}

main {
    float: left;
    width: 65%;
}

article {
    border-bottom: 1px solid #8B27AA;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid #8B27AA;
    padding-top: 10px;
    margin-top: 10px;
    font-size: smaller;
    color: #EEE;
    text-decoration: none;
    background: none;
    max-width: 1000px;
    margin: auto;
    clear: both;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #EEE;
}

aside {
    float: right;
    width: 30%;
}

aside>div {
    margin: 10px auto;
    padding: 0;
}

aside>div img {
    display: block;
}

aside>div:hover {
    box-shadow: 0 0px 20px 0 #8B27AA;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        float: none;
        width: 100%;
    }

}

/* Telas grandes */
@media screen and (min-width: 501px) {
    #logo-centro img {
        max-width: 480px;
    }
}

/* Telas pequenas */
@media screen and (max-width: 500px) {
    #logo-centro img {
        max-width: 100%;
    }
}

/* Telas grandes */
@media screen and (min-width: 501px) {
    nav ul li a img {
        max-width: 35px;
    }
}

/* Telas pequenas */
@media screen and (max-width: 500px) {
    nav ul li a img {
        max-width: 20px;
    }
}


@media screen and (min-width: 501px) {
    body>section {
        padding: 30px 20px;
    }

    aside img {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        display: none;
    }

    aside img {
        display: none;
    }


}