* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-escuro: linear-gradient(to bottom, #35080A, #090909);
    --texto-titulo: #cc2128;
    --texto-comum: #EEE;
    --texto-subtitulo: #888;
    --hover-fundo: #444;
    --hover-sombra: 0 0px 20px 0 #EEE;
    --borda: 1px solid #EEE;
    --menu-background: #000000;
    --botao-piscante-1: #35080A;
    --botao-piscante-2: #cc2128;
}

/* FONTES */

@font-face {
    font-family: "Bebas";
    src: url("/CSS/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("/CSS/fonts/Nunito.ttf");
}

@font-face {
    font-family: "Source";
    src: url("/CSS/fonts/SourceCodePro.ttf");
}

/* CABEÇALHO */

/* CABEÇALHO */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--fundo-escuro);
    font-family: "Bebas", sans-serif;
    padding: 10px 20px;
}

.logo img {
    max-width: 120px;
    border-radius: 0;
}

nav {
    display: flex;
}


.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-top: 1px;
    margin-left: 10px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--menu-background);
    text-align: center;
    color: var(--texto-comum);
    font-weight: normal;
    font-size: 22px;
    border: var(--borda);
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.menu a:hover,
.menu a:focus {
    box-shadow: var(--hover-sombra);
    background-color: var(--hover-fundo);
    cursor: pointer;
}
 
@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: left;
    }
}

/* BASE */

html,
body {
    line-height: 1.5;
    font-family: "Nunito";
    font-weight: normal;
    background: #090909;
    font-size: medium;
    text-align: justify;
    overflow-x: hidden;
}

p {
    text-indent: 30px;
    color: var(--texto-comum);
    margin-bottom: 10px;
}

ul, li {
    color: var(--texto-comum);
    margin-bottom: 10px;
}

h1 {
    font-family: "Bebas";
    font-weight: normal;
    font-size: 40px;
    color: var(--texto-titulo);
    margin: 0;
    text-align: center;
    line-height: 1;
}

h2 {
    font-family: "Nunito";
    font-weight: normal;
    font-size: medium;
    color: var(--texto-subtitulo);
    margin: 0 0 20px 0;
    text-align: center;
}

h3 {
    font-family: "Nunito";
    font-weight: bold;
    font-size: larger;
    color: var(--texto-titulo);
    text-indent: 30px;
    margin: 20px 0 10px;
}

a {
    color: var(--texto-titulo);
}

article {
    border-bottom: var(--borda);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

img,
video {
    border-radius: 10px;
}

@keyframes backgroundBlink {
    0%, 100% { background: var(--botao-piscante-1); }
    50% { background: var(--botao-piscante-2); }
}

.google-docs-link {
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    background-color: var(--fundo-escuro);
    color: var(--texto-comum);
    text-decoration: none;
    border-radius: 5px;
    font-family: Nunito;
    font-weight: bold;
    animation: backgroundBlink 2s infinite; 
}

.google-docs-link:hover {
    box-shadow: var(--hover-sombra);
    cursor: pointer;
    transition: 0.3s;
}

.google-docs-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('https://www.gstatic.com/images/branding/product/2x/docs_48dp.png');
    background-size: cover;
}

#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

#title {
    text-align: center;
    text-indent: 0px;
    font-size: 30px;
    margin-top: 20px;
}

#h1-2 {
    text-align: left;
    font-size: 30px;
    text-indent: 30px;
}

#h2-2 {
    text-align: left;
    text-indent: 30px
}

table {
    color: var(--texto-comum);
    border-collapse: collapse;
    font-family: "Source";
    margin: 0 auto;
    width: 95%;
}

th, td {
    padding: 8px;
    vertical-align: top;
    width: 40%;
    border-radius: 5px;
}

th {
    text-align: right;
    color: var(--texto-titulo);
}

.cabecalho-tabela {
    text-align: center;
    background: var(--fundo-escuro);
    font-family: "Bebas";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 0.9;
}

td {
    text-align: left;
}

main {
    float: left;
    width: 65%;
}

/* LATERAL */

aside {
    float: right;
    width: 30%;
}

aside>div {
    padding: 4px;
    margin: 10px;
    background: var(--fundo-escuro);
    color: var(--texto-comum);
    text-align: center;
    border-radius: 10px;
}

aside>div a {
    color: var(--texto-comum);
    text-decoration: none;
}

aside img,
article img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
}

aside>div:hover {
    box-shadow: var(--hover-sombra);
    cursor: pointer;
    transition: 0.3s;
}

/* ZOOM EM IMAGEM */

#zoomImage1,
#zoomImage2,
#zoomImage3,
#zoomImage4,
#zoomImage5,
#zoomImage6,
#zoomImage7,
#zoomImage8,
#zoomImage9 {
    cursor: pointer;
    transition: transform 0.5s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cb;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* RODAPÉ */

footer {
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    color: var(--texto-comum);
    text-decoration: none;
    background: none;
    max-width: 1000px;
    margin: auto;
    clear: both;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--texto-comum);
}

/* AJUSTES RESPONSIVOS */

@media screen and (max-width: 1000px) {
    body>section {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        float: none;
        width: 100%;
    }

}