* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.5;
    font-family: "Nunito";
    font-weight: normal;
    font-size: medium;
    text-align: justify;
    overflow-x: hidden;
    background: #EEE;
}

body>section {
    padding: 30px 10px;
}

:root {
    --fundo-escuro: #BBB;
    --texto-titulo: #cc2128;
    --texto-comum: #000000;
    --texto-subtitulo: #444;
    --hover-fundo: #444;
    --borda: 1px solid #444;
    --menu-background: #000000;
    --botao-piscante-1: #cc2128;
    --botao-piscante-2: #35080A;
}

/* FONTES */

@font-face {
    font-family: "Bebas";
    src: url("/CSS/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("/CSS/fonts/Nunito.ttf");
}

@font-face {
    font-family: "Source";
    src: url("/CSS/fonts/SourceCodePro.ttf");
}

/* CABEÇALHO */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--fundo-escuro);
    font-family: "Bebas", sans-serif;
    padding: 10px 20px;
}

.logo img {
    max-width: 120px;
    border-radius: 0;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
}

.menu,
.botoesdeano {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.botoesdeano {
    flex-wrap: wrap;
}

.menu li,
.botoesdeano li {
    margin-top: 1px;
    margin-left: 10px;
}

.menu a,
.botoesdeano a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--menu-background);
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
}

.botoesdeano a {
    font-size: medium;
    width: 65px;
}

.menu a:hover,
.menu a:focus,
.botoesdeano a:hover,
.botoesdeano a:focus {
    background-color: var(--hover-fundo);
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: left;
    }
}

/* BASE */

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    text-indent: 30px;
    color: var(--texto-comum);
    margin-bottom: 10px;
}

ul,
li {
    color: var(--texto-comum);
    margin-bottom: 10px;
}

h1 {
    font-family: "Bebas";
    font-weight: normal;
    font-size: 40px;
    color: var(--texto-titulo);
    margin: 0;
    text-align: center;
    line-height: 1;
}

h2 {
    font-family: "Nunito";
    font-weight: bold;
    font-size: large;
    color: var(--texto-subtitulo);
    margin: 0 0 20px 0;
    text-align: center;
}

h3 {
    font-family: "Nunito";
    font-weight: bold;
    font-size: larger;
    color: var(--texto-titulo);
    text-indent: 30px;
    margin: 20px 0 10px;
}

a {
    color: var(--texto-titulo);
}

article {
    border-bottom: var(--borda);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

img,
video {
    border-radius: 10px;
}

@keyframes backgroundBlink {

    0%,
    100% {
        background: var(--botao-piscante-1);
    }

    50% {
        background: var(--botao-piscante-2);
    }
}

.google-docs-link {
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 10px 20px;
    background-color: var(--fundo-escuro);
    color: #EEE;
    text-decoration: none;
    border-radius: 5px;
    font-family: Nunito;
    font-weight: bold;
    animation: backgroundBlink 2s infinite;
}

.google-docs-link:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.03);
}

.google-docs-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('https://www.gstatic.com/images/branding/product/2x/docs_48dp.png');
    background-size: cover;
}

#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

#title {
    text-align: center;
    text-indent: 0px;
    font-size: 30px;
    margin-top: 20px;
}

#h1-2 {
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
}

#h2-2 {
    text-align: left;
    margin: 0 0 5px 30px;
}

.enfaseclick {
    animation: blink 10s;
}

@keyframes blink {
    0% {
        background-color: yellow;
    }

    100% {
        background-color: transparent;
    }
}

table {
    color: var(--texto-comum);
    border-collapse: collapse;
    margin: 0 auto;
    width: 95%;
}

th,
td {
    padding: 7px 10px 7px 10px;
    vertical-align: top;
    width: 40%;
    border-bottom: 1px dashed #BBB;
    border-radius: 5px;
    line-height: 1.2;
}

th {
    text-align: right;
    color: var(--texto-titulo);
}

.cabecalho-tabela {
    border-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    background: var(--texto-titulo);
    color: #EEE;
    font-family: "Bebas";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 0.9;
}

td {
    text-align: left;
}

#elencosempersonagem {
    td {
        text-align: center;
    }
}

main {
    float: left;
    width: 70%;
}

/* LATERAL */

aside {
    width: 25%;
    max-width: 300px;
    margin-left: 5%;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}


aside>div {
    padding: 4px;
    margin: 10px;
    background: var(--fundo-escuro);
    color: var(--texto-comum);
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    max-width: 100%;
    box-sizing: border-box;
}

aside>div a {
    color: var(--texto-comum);
    text-decoration: none;
}

aside img,
article img {
    max-width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

aside>div:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

/* ZOOM EM IMAGEM */

#zoomImage1,
#zoomImage2,
#zoomImage3,
#zoomImage4,
#zoomImage5,
#zoomImage6,
#zoomImage7,
#zoomImage8,
#zoomImage9,
#zoomImage10 {
    cursor: pointer;
    transition: transform 0.5s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cb;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img,
.overlay video {
    max-width: 90%;
    max-height: 90%;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 25%;
    right: 25%;
    bottom: 40%;
    background: var(--fundo-escuro);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.3em;
}

/* IMAGEM COM SLIDE */

.imagem-slide {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    height: 200%;
    transition: transform 1s ease-in-out;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RODAPÉ */

footer {
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    color: var(--texto-comum);
    text-decoration: none;
    background: var(--fundo-escuro);
    margin: auto;
    clear: both;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--texto-comum);
}

/* AJUSTES RESPONSIVOS */

@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .text-overlay {
        font-size: 10vw;
    }

}