/* FONTES */

@font-face {
    font-family: "Bebas";
    src: url("/CSS/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("/CSS/fonts/Nunito.ttf");
}

@font-face {
    font-family: "Source";
    src: url("/CSS/fonts/SourceCodePro.ttf");
}

/* BASE */

html,
body {
    line-height: 1.2;
    font-family: Nunito;
    font-weight: normal;
    background: #090909;
    font-size: medium;
    text-align: justify;
    overflow-x: hidden;
}

p {
    text-indent: 30px;
    color: #EEE;
}

h1 {
    font-family: Bebas;
    font-weight: normal;
    font-size: 40px;
    color: #cc2128;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: Nunito;
    font-weight: normal;
    font-size: medium;
    color: #888888;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: Nunito;
    font-weight: bold;
    font-size: medium;
    color: #cc2128;
    text-indent: 30px;
}

a {
    color: #cc2128;
}

header {
    background: #35080A;
    padding: 0px 30px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 0px 0px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    background: #000;
    color: #fff;
    font: 30px Bebas;
    padding: 2px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #FFF;
}

nav ul li a:hover {
    box-shadow: 0 1px 20px 0 #FFF;
    cursor: pointer;
    transition: 0.3s;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 100px;
}


#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

#title {
    text-align: center;
    text-indent: 0px;
    font-size: 30px;
    margin: 0;
}

main {
    float: left;
    width: 65%;
}

aside {
    float: right;
    width: 30%;
}

aside>div {
    padding: 5px 0 0 0;
    margin: 10px;
    background: #35080A;
    color: #EEE;
    text-align: center;
    border-radius: 5px;
}

aside>div a {
    color: #EEE;
    text-decoration: none;
}

aside img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
}

aside>div:hover {
    box-shadow: 0 0px 20px 0 #EEE;
    cursor: pointer;
    transition: 0.3s;
}

article {
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer {
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    color: #EEE;
    text-decoration: none;
    background: none;
    max-width: 1000px;
    margin: auto;
    clear: both;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #EEE;
}

@media screen and (max-width: 1000px) {
    body>section {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        float: none;
        width: 100%;
    }

}